main{
    background-color: #f2cb05;
}
.btn-outline-success{
    background-color: white;
}
.d-block {
    width: 100%;
    height: 400px;
    object-fit: contain;
}

.card{
    margin: 15px;
}
.sectionCards{
    display: flex;
}
.piePagina{

    background-color: black;
}

.letras{
    text-align: center;
    color: white;
}
.tituloFooter{
    
    color: ;
}